@charset "utf-8";
/* CSS Document */

#a{
	margin:0px auto;/*自身居中*/
	width:900px;
}
body{
	margin-top:0px;
	width:100%;
	text-align:center;/*内容居中*/
}
#top{
	width:100%;
	height:110px;
	border-bottom:2px solid #777;
}
#logo{
	float:left;
}
#title{

	height:50px;
	float:right;
	font:"Courier New", Courier, monospace;
	font-size:15px;
	padding-right:20px;	
}
#title li{
	list-style:none;
	float:left;
}
#title a{
	color:#AAA;
	text-decoration:none;
}
#title a:hover{
	color:#000;
	text-decoration:underline;
}
#dh{
	width:540px;
	height:50px;
	float:right;
	padding-top:5px;
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	font-weight:bold;
}

#dh li{
	list-style:none;
	float:left;
	width:100px;

}
#dh a{
	text-decoration:none;
	color:#555;
}
#dh a:hover{
	color:#F90;
}
#boder{
	margin-top:20px;
	
}
#yf {
	height: 430px;
	width: 298px;
	float:left;
	border:solid 1px #555;
	background-image:url(../image/QQ%E5%9B%BE%E7%89%8720130627005732.jpg);
}
#yifu {
	height: 430px;
	width: 598px;
	float:left;
	background-repeat:no-repeat;
	background-position:-20px 0px;
	border: solid 1px #555;
}
#biaoti {
	height: 70px;
	width: 100%;
	float:left;
}
#yflb {
	height:260px;
	width:100%;
	float:left;
}
#zhahuo{
	height:250px;
	width:200px;
	float:left;
	margin-right:23px;
	border-bottom:outset;
	
}
#zhahuo a{
	text-decoration:none;
	color:#888;
}
#zhahuo:hover,#zhahuo2:hover,#zhahuo3:hover,#zhahuo4:hover{
	border:solid 1px #555;
}
#zhahuo2{
	height:250px;
	width:200px;
	float:left;
	margin-right:23px;
	border-bottom:outset;
}
#zhahuo2 a{
	text-decoration:none;
	color:#888;
}
#zhahuo3{
	height:250px;
	width:200px;
	float:left;
	margin-right:23px;
	border-bottom:outset;
}
#zhahuo3 a{
	text-decoration:none;
	color:#888;
}
#zhahuo4{
	height:250px;
	width:200px;
	float:left;
	border-bottom:outset;
}
#zhahuo4 a{
	text-decoration:none;
	color:#888;
}
#anniu {
	height: 30px;
	width: 120px;
	margin:370px 0px 0px 87px;
}
#anniu:hover{
	background-color:#BBB;
}
#jiewei{
	width:100%;
	height:50px;
	margin-top:30px;
	border-top:1px solid #555;
	float:left;
}

